@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.tramitesNavbar{
	background-color: #00131D;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
}

.tramitesNavbar a{
	color:#fff;
}

 .logoutButton{
 background-color: #00131D;
 padding: 10px 20px;
 text-align: center;
 color: #fff;
 border-radius:20px;
 border: 2px solid #00131D;
 box-shadow: 5px 5px 0px #000;
 font-size: 1.2em;
 font-weight: 500;
 height: 50px;
 width: 170px;
 cursor: pointer;
 transition: all 0.3s ease;
 }
 
 .logoutButton:hover {
  background-color: #fff;
  color: #00131D;
  border: 2px solid #00131D;
  box-shadow: 5px 5px 0px #00131D;
}

.logoutButton:active {
  background-color: #00131D;
  box-shadow: none;
  transform: translateY(4px);
}

.hidden {
  opacity:0;
}

.console-container {
  font-family:Khula;
  font-size:4em;
  text-align:center;
  display:block;
  color:white;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.bkground{
	background-color: #00131D;
}

.cartasBox{
	display:flex;
	justify-content: center;
	background-color: #00131D;
}

.cartasContainer{
	position:relative;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:50px;;
}

.cartasContainer .card{
	position:relative;
	width: 350px;
	height: 300px;
	border: 1px dashed #fff;
	border-radius: 20px;
	
}

.cartasContainer .card .face{
	position: absolute;
	border: 1px solid #fff;
	border-radius: 20px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.cartasContainer .card .face.face1{
	background: #00131D;
	position: absolute;
	border: 1px solid #fff;
	border-radius:20px;
	display: flex;
	justify-content:center;
	align-items: center;
	z-index:1;
	transform-origin:bottom;
}

.cartasContainer .card .face.face1 img{
	max-width:100px;
}

.cartasContainer .card .face.face1 h3{
	margin: 10px 0 0;
	color:#fff;
	text-align: center;
	font-size: 1.5em;
}

.cartasContainer .card:hover .face.face1{
	transform: translateY(-100%) rotateX(90deg);
	background:lightblue;
	border: 1px solid #fff;
	border-radius: 20px;
}

.cartasContainer .card .face.face2{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
	display: flex;
	justify-content:center;
	align-items:center;
	padding: 20px;
	transform-origin:top;
	transform: translateY(100%) rotateX(90deg);
}

.cartasContainer .card:hover .face.face2{
	transform: translateY(0) rotateX(0deg);
	border: 1px solid #fff;
	border-radius: 20px;
}

.button{
	 background-color: lightblue;
	 padding: 10px 20px;
	 text-align: center;
	 color: #00131D;
	 border-radius:20px;
	 border: 2px solid #00131D;
	 box-shadow: 5px 5px 0px #000;
	 font-size: 1.2em;
	 font-weight: 500;
	 height: 60px;
	 width: 200px;
	 cursor: pointer;
	 transition: all 0.3s ease;
	 margin-bottom: 30px;
 }
 
.textContainer{
	display:flex;
	align-items: center;
	justify-content:space-evenly;
	margin: 20px;
}
.textBox{
	display:block;
	background-color:#00131D;
}
.textContainer2{
	background-color: #fff;
	color:#00131D;
	display:flex;
	justify-content:space-evenly;
	margin: 20px;
	margin-top: 80px;
	padding: 20px;
	border-radius:20px;
}

.textContainer3{
	display:flex;
	align-items: center;
	justify-content:space-evenly;
	margin: 20px;
}
 
.button:hover {
  background-color: #fff;
  color: #00131D;
  border: 2px solid #00131D;
  box-shadow: 5px 5px 0px #00131D;
}

.button:active {
  background-color: #00131D;
  box-shadow: none;
  transform: translateY(4px);
}
.logoutButton2{
 background-color: #00131D;
 padding: 10px 20px;
 text-align: center;
 color: #fff;
 border-radius:20px;
 border: 2px solid #fff;
 box-shadow: 5px 5px 0px #000;
 font-size: 1.2em;
 font-weight: 500;
 height: 50px;
 width: 170px;
 cursor: pointer;
 transition: all 0.3s ease;
 }
 
 .logoutButton2:hover {
  background-color: #fff;
  color: #00131D;
  border: 2px solid #00131D;
  box-shadow: 5px 5px 0px #00131D;
}

.logoutButton2:active {
  background-color: #00131D;
  box-shadow: none;
  transform: translateY(4px);
}
